<td>
    <div ng-show="!isInEditMode">
        <label>{{ date | date:'dd.MM.yyyy'}}</label>
    </div>
    <div ng-show="isInEditMode">
        <input type="text" ng-model="newDate"/>
    </div>
</td>
<td>
    <div ng-show="!isInEditMode">
        <label>{{ startTime | date:'dd.MM.yyyy HH:mm:ss'}}</label>
    </div>
    <div ng-show="isInEditMode">
        <input type="text" ng-model="newStartTime"/>
    </div>
</td>
<td>
    <div ng-show="!isInEditMode">
        <label>{{ endTime | date:'dd.MM.yyyy HH:mm:ss'}}</label>
    </div>
    <div ng-show="isInEditMode">
        <input type="text" ng-model="newEndTime"/>
    </div>
</td>
<td>
    <div ng-show="!isInEditMode">
        <label>{{ startLevel }}</label>
    </div>
    <div ng-show="isInEditMode">
        <input type="text" ng-model="newStartLevel" style="width: 80px"/>
    </div>
</td>
<td>
    <div ng-show="!isInEditMode">
        <label>{{ levelUp }}</label>
    </div>
    <div ng-show="isInEditMode">
        <input type="checkbox" ng-model="newLevelUp"/>
    </div>
</td>
<td>
    <div ng-show="!isInEditMode">
        <label>{{ startEp }}</label>
    </div>
    <div ng-show="isInEditMode">
        <input type="text" ng-model="newStartEp" style="width: 80px"/>
    </div>
</td>
<td>
    <div ng-show="!isInEditMode">
        <label>{{ endEp }}</label>
    </div>
    <div ng-show="isInEditMode">
        <input type="text" ng-model="newEndEp" style="width: 80px"/>
    </div>
</td>
<td>
    <div ng-show="!isInEditMode && !showWaypointsList">
        <label>{{ waypointsPreview }}</label>
    </div>
    <div ng-show="!isInEditMode && showWaypointsList">
        <ul class="list-group" style="height: 200px; overflow-y: scroll; margin-bottom: 0">
            <li class="list-group-item" ng-repeat="waypoint in waypointsList | orderBy: 'number'">
                {{ waypoint.locationName }}
            </li>
        </ul>
    </div>
    <div ng-show="isInEditMode">
        <button class="btn btn-default" style="width: 100%" ng-click="lgbEntryCtrl.showNewWaypoint()"><span class="glyphicon glyphicon-plus"></span></button>
        <div class="list-group" style="height: 200px; overflow-y: scroll; margin-bottom: 0">
            <a href="" class="list-group-item" ng-click="lgbEntryCtrl.showWaypoint(waypoint)" ng-repeat="waypoint in newWaypointsList | orderBy: 'number'">
                {{ waypoint.locationName }}
            </a>
        </div>
    </div>
</td>
<td>
    <div ng-show="!isInEditMode && !showArenasList">
        <label>{{ arenasPreview }}</label>
    </div>
    <div ng-show="!isInEditMode && showArenasList">
        <div class="list-group" style="height: 200px; overflow-y: scroll; margin-bottom: 0">
            <a href="" class="list-group-item" ng-repeat="arena in arenasList" ng-click="lgbEntryCtrl.showArena(arena)">
                {{ arena.locationName }}
            </a>
        </div>
    </div>
    <div ng-show="isInEditMode">
        <button class="btn btn-default" style="width: 100%" ng-click="lgbEntryCtrl.showNewArena()"><span class="glyphicon glyphicon-plus"></span></button>
        <div class="list-group" style="height: 200px; overflow-y: scroll; margin-botom: 0">
            <a href="" class="list-group-item" ng-repeat="arena in newArenasList" ng-click="lgbEntryCtrl.showArena(arena)">
                {{ arena.locationName }}
            </a>
        </div>
    </div>
</td>
<td>
    <div ng-show="!isInEditMode && !showPokemonsList">
        <label>{{ pokemonsPreview }}</label>
    </div>
    <div ng-show="!isInEditMode && showPokemonsList">
        <div class="list-group" style="height: 200px; overflow-y: scroll; margin-bottom: 0">
            <a class="list-group-item" ng-repeat="pokemon in pokemonsList" ng-click="lgbEntryCtrl.showPokemon(pokemon)">
                {{ pokemon.name }}
            </a>
        </div>
    </div>
    <div ng-show="isInEditMode">
        <button class="btn btn-default" style="width: 100%" ng-click="lgbEntryCtrl.showNewPokemon()"><span class="glyphicon glyphicon-plus"></span></button>
        <div class="list-group" style="height: 200px; overflow-y: scroll; margin-bottom: 0">
            <a href="" class="list-group-item" ng-repeat="pokemon in newPokemonsList" ng-click="lgbEntryCtrl.showPokemon(pokemon)">
                {{ pokemon.name }}
            </a>
        </div>
    </div>
</td>
<td>
    <a href=""><span class="glyphicon glyphicon-pencil" ng-show="!isInEditMode" ng-click="lgbEntryCtrl.edit()"></span></a>
    <a href=""><span class="glyphicon glyphicon-ok" ng-show="isInEditMode" ng-click="lgbEntryCtrl.save()"></span></a>
    <a href=""><span class="glyphicon glyphicon-remove" ng-show="isInEditMode" ng-click="lgbEntryCtrl.cancel()"></span></a>
    <a href=""><span class="glyphicon glyphicon-minus" ng-show="!isInEditMode" ng-click="lgbEntryCtrl.delete()"></span></a>
</td>